@model OrderModel
@{
    ViewData["Title"] = "Підтвердження номеру мобільного";
}
<h1>Підтвердження номеру мобільного</h1>

<p> Введіть <em>код підтвердження</em> з СМС</p>

<form action="@Url.Action(nameof(OrderController.ConfirmCellPhone))" method="post">
    <input type="hidden" name="cellPhone" value="@Model.CellPhone"/>
    <div class="form-group">
        <label for="code">Код підтвердження</label>
        <input type="text" class="form-control" name="confirmationCode" placeholder="0000"/>
        @if (Model.Errors.ContainsKey("confirmationCode"))
        {
            <small class="form-text text-danger">@Model.Errors["confirmationCode"]</small>
        }
    </div>
    <button type="submit" class="btn btn-success">Перевірити</button>
</form>

<p>
    Якщо на ваш номер не прийшла СМС протягом хвилини, перевірте правильність номеру і повторіть відправку коду
</p>

<form action="@Url.Action("SendConfirmationCode")" method="post">
    <div class="form-group">
        <label for="cellPhone">Мобільний телефон</label>
        <input type="text" class="form-control" name="cellPhone" value="@Model.CellPhone"/>
        @if (Model.Errors.ContainsKey("cellPhone"))
        {
            <small class="form-text text-danger">@Model.Errors["cellPhone"]</small>
        }
    </div>
    <button type="submit" class="btn btn-success">Відправити код повторно</button>

</form>